src/main/webapp/res/xml-database/cars.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cars" type="carsType"/>
  <xs:complexType name="carType">
    <xs:sequence>
      <xs:element type="xs:integer" name="id"/>
      <xs:element type="xs:string" name="number"/>
      <xs:element type="xs:string" name="model"/>
      <xs:element type="xs:string" name="owner"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carsType">
    <xs:sequence>
      <xs:element type="carType" name="car"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>